{{ define "table-content" }}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Data }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>

<div class="pagination">
    {{ range .Pagination.Pages }}
    {{ if eq . $.Pagination.Current }}
    <span class="active">{{ . }}</span>
    {{ else }}
    <a href="#"
       hx-get="/data"
       hx-include="[name='search']"
       hx-vals='{"page": "{{ . }}"}'
       hx-target="#table-section">{{ . }}</a>
    {{ end }}
    {{ end }}
</div>
{{ end }}